/*----------------------------------------------Ajout police----------------------------------------------*/

@font-face {
    /*open_sansregular*/
    font-family: "open_sansregular";
    src: url("../font/Open_Sans/opensans-regular-webfont.woff2") format("woff2"),
        url("../font/Open_Sans/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*open_sanslight*/
    font-family: "open_sanslight";
    src: url("../font/Open_Sans/opensans-light-webfont.woff2") format("woff2"), url("../font/Open_Sans/opensans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*encode_sans_condensedlight*/
    font-family: "encode_sans_condensedlight";
    src: url("../font/Encode_Sans/encodesanscondensed-light-webfont.woff2") format("woff2"),
        url("../font/Encode_Sans/encodesanscondensed-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*encode_sans_condensedmedium*/
    font-family: "encode_sans_condensedmedium";
    src: url("../font/Encode_Sans/encodesanscondensed-medium-webfont.woff2") format("woff2"),
        url("../font/Encode_Sans/encodesanscondensed-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*encode_sans_condensedregular*/
    font-family: "encode_sans_condensedregular";
    src: url("../font/Encode_Sans/encodesanscondensed-regular-webfont.woff2") format("woff2"),
        url("../font/Encode_Sans/encodesanscondensed-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*encode_sans_condensedsemibold*/
    font-family: "encode_sans_condensedsemibold";
    src: url("../font/Encode_Sans/encodesanscondensed-semibold-webfont.woff2") format("woff2"),
        url("../font/Encode_Sans/encodesanscondensed-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------Reset CSS----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: "open_sansregular";
}

.container {
    margin: 0 5%;
}

h1 {
    font-family: "encode_sans_condensedmedium";
}

h2,
h3,
h4 {
    font-family: "open_sansregular";
}
/*----------------------------------------------Media Queries----------------------------------------------*/

@media all and (max-width: 479px) {
    /* Vignette */
    .grille {
        display: block !important;
        text-align: center !important;
        padding: 0rem !important;
    }
    /* Image des vignettes */
    .img-vignette {
        width: 300px !important;
        height: auto !important;
    }
    /* Bouton des vignettes */
    .bouton-site {
        margin-bottom: 5% !important;
    }
    /* Bouton présent sur le menu */
    .bCV,
    .bContact {
        width: auto !important;
        padding: 0.3rem 1rem !important;
        border-radius: 20px !important;
    }
    /* Logo présent dans le menu +
        image sur la page d'accueil (hero) +
        image et légende dans l'article polar +
        titre de compétence du tableau */
    .image-article,
    .image-article-legende,
    .img-emp,
    .logo-nav-bar,
    .titre-competence {
        display: none !important;
    }
    /* Texte de présentation sur la page d'accueil +
        texte de description dans l'article +
        tableau de compétences sur la page d'accueil +
        champ du formulaire */
    .texte-presentation,
    .texte-article,
    .bloc-competences,
    .champForm {
        width: auto !important;
    }
    /* Titre caché dans le tableau de compétence */
    .titre-competence-responsive {
        display: block !important;
    }
}

@media (min-width: 480px) and (max-width: 780px) {
    /* Vignette */
    .grille {
        display: block !important;
        text-align: center !important;
        padding: 0rem !important;
    }
    /* Bouton des vignettes */
    .bouton-site {
        margin-bottom: 5% !important;
    }
    /* Bouton du menu */
    .bCV,
    .bContact {
        width: auto !important;
        padding: 0.3rem 1rem !important;
        border-radius: 20px !important;
    }
    /* Logo du menu +
        image sur la page d'accueil (hero) */
    .logo-nav-bar,
    .img-emp {
        display: none !important;
    }
    /* Texte de présentation sur la page d'accueil +
        texte de description dans l'article +
        tableau de compétences sur la page d'accueil */
    .texte-presentation,
    .texte-article,
    .bloc-competences {
        width: auto !important;
    }
}
/*----------------------------------------------Mise en forme du menu----------------------------------------------*/

/*Ajout d'une ombre en bas du menu*/
nav {
    background-color: #fff;
    position: sticky;
    top: 0px;
    padding: 1.5rem 0;
    box-shadow: 0 5px 7px 2px rgba(46, 46, 46, 0.2);
    height: auto;
    width: auto;
}

/* Réglage de la taille des cases de chaque éléments du menu */
.menu {
    width: 33%;
    display: inline-block;
}

/* Design du bouton menant au CV */
.bCV {
    display: inline-block;
    color: #00faaa;
    text-align: center;
    padding: 0.875rem 2.5rem;
    text-decoration: none;
    font-size: 18px;
    border-style: solid;
    border-radius: 30px;
    border-color: #00faaa;
    transition-duration: 0.3s;
    width: max-content;
}

/* Design du bouton menant à la page contact */
.bContact {
    display: inline-block;
    color: #00faaa;
    text-align: center;
    padding: 0.875rem 2.5rem;
    text-decoration: none;
    font-size: 18px;
    border-style: solid;
    border-radius: 30px;
    border-color: #00faaa;
    transition-duration: 0.3s;
    width: max-content;
}

/* Design des boutons du menu au survol */
.bContact:hover,
.bCV:hover {
    background-color: #00faaa;
    color: #fff;
    transition-duration: 0.3s;
}

/* Design du logo présent dans le menu */
.logo-nav-bar {
    display: block;
    margin: auto;
}

/*----------------------------------------------Mise en forme du footer----------------------------------------------*/

/* Design général du footer */
footer {
    background-color: #003afa;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
}

/* Centrage des deux boutons du footer */
.list-icones {
    text-align: center;
}

/* Design des icones pour les deux boutons du footer */
.icone {
    font-size: 24px;
    display: inline-block;
    border: solid white;
    margin: 0.5rem;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    transition: 0.3s ease-in-out;
    color: white;
}

/* Centrage vertical du contenu des deux boutons du footer */
.i-footer {
    color: inherit;
    vertical-align: -webkit-baseline-middle;
}

/* Design des deux boutons du footer au survol */
.icone:hover {
    background-color: white;
    color: #003afa;
}

/* Design du contenu des deux boutons du footer au survol */
.i-footer:hover {
    color: inherit;
    transition: 0.3s ease-in-out;
}

/* Couleur du contenu des deux boutons du footer */
.lien-icone {
    color: inherit;
}

/* Design des infos présentes dans le footer sous les deux boutons */
.info {
    margin-top: 2rem;
    text-align: center;
    color: white;
    line-height: 2;
}

/* Couleur du lien pour changer de langue */
.lien-lang {
    text-decoration: underline;
    color: #fff;
}

/*----------------------------------------------Mise en forme du hero----------------------------------------------*/

/* Ajout d'un padding en haut et en bas du texte présent au dessus du hero de la page d'accueil */
.texte-hero {
    padding: 3.5rem 0;
}

/* Ajout d'un padding pour tous les côtés du hero de la page d'accueil */
.hero-img {
    padding-bottom: 4rem;
}

/* Mise en forme du titre du hero sur la page d'accueil */
.titre-hero {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 40px;
}

/* Mise en forme du sous-titre du hero sur la page d'accueil */
.sous-titre-hero {
    text-align: center;
    padding: 1.5rem 0;
    font-weight: lighter;
    font-size: 24px;
}

/*Design du hero*/
.img-emp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    padding: 2rem 0;
}

/*----------------------------------------------Mise en forme du texte de présentation-------------------------------------------*/

/*Design du bloc contenant le texte de présentation*/
.bloc-presentation {
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: #003afa;
    color: white;
}

/*Ajout padding pour tous les côtés du bloc contenant le texte de présentation*/
.texte {
    padding: 3rem 0;
}

/*Design titre présentation*/
.titre-presentation {
    text-align: center;
    padding-bottom: 2.5rem;
}

/*Design texte présentation*/
.texte-presentation {
    width: 65%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 4rem;
}

/*----------------------------------------------Mise en forme du tableau des compétences----------------------------------------------*/

/*Suppression puce*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Design général du tableau*/
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
}

/*Design général des cellules*/
td {
    width: 50%;
}

/*Ajout d'une marge pour le côté droit de la colonne de gauche pour faire la séparation*/
.col-g {
    border-right: thin solid rgba(46, 46, 46, 0.2);
}

/*Recul du bloc contenant les compétences*/
.box {
    margin-top: -9.5rem;
    background-color: transparent;
    width: 100%;
    margin-bottom: 6rem;
}

/*Design du bloc contenant les compétences*/
.bloc-competences {
    background-color: white;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 0 7px 2px rgba(46, 46, 46, 0.2);
}

/*Design des images illustrant une compétence*/
.fig {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 1.2rem;
}

/*Ajout d'une marge en bas pour le bloc contenant l'image illustrant une compétence*/
figure {
    margin-bottom: 1rem;
}

/*Design du titre des compétences*/
.titre-competence {
    text-align: center;
    margin-bottom: 3rem;
}

/*Design du titre des compétences pour le responsive*/
.titre-competence-responsive {
    display: none;
    text-align: center;
    margin-bottom: 3rem;
}

/*Design des titres des différentes parties*/
.titre-cell,
.titre-cell-2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #00bcf5;
}

/*Design des titres de la 2e ligne*/
.titre-cell-2 {
    margin-top: 2rem;
}

/*Design des éléments de la liste du tableau de compétences*/
.list,
.list-last {
    text-align: center;
    line-height: 2rem;
    font-weight: lighter;
}

/*Ajout d'une marge pour la dernière ligne du tableau*/
.list-last {
    margin-bottom: 3rem;
}

/*----------------------------------------------Mise en forme des vignettes----------------------------------------------*/

/* Design du titre et sous-titre des vignettes */
.titre-projet,
.sous-titre-projet {
    text-align: center;
    margin-bottom: 2rem;
}

/*Design général de la grille contenant les vignettes*/
.grille {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

/*Design de la div contenant l'image et le bouton d'une vignette*/
.vignette {
    flex: none;
    margin-left: auto;
    margin-right: auto;
}

/*Design de l'image*/
.img-vignette {
    border-radius: 30px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 7px 2px rgba(46, 46, 46, 0.2);
}

/*Design des boutons des vignettes*/
.bouton-site {
    border: solid #00bcf5;
    width: max-content;
    border-radius: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #00bcf5;
    transition: 0.3s ease-in-out;
}

/*Design des boutons des vignettes au survol*/
.bouton-site:hover {
    background-color: #00bcf5;
    color: #fff;
}

/*Design du texte des boutons des vignettes pour ceux contenant un lien vers un site*/
.lien-site {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/*----------------------------------------------Mise en forme du formulaire----------------------------------------------*/

/*Design du formulaire*/
form {
    text-align: center;
    padding-bottom: 6rem;
}

/*Design du bouton envoyer pour le formulaire de contact*/
.bForm {
    display: inline-block;
    color: #00faaa;
    background-color: #fff;
    padding: 0.875rem 2.5rem;
    text-decoration: none;
    font-size: 18px;
    border-style: solid;
    border-radius: 30px;
    border-color: #00faaa;
    transition-duration: 0.3s;
}

/*Design du bouton envoyer pour le formulaire de contact au survol*/
.bForm:hover {
    background-color: #00faaa;
    color: #fff;
    transition-duration: 0.3s;
}

/*Design des champs du formulaire*/
.champForm {
    font-size: 20px;
    text-align: inherit;
    background-color: rgba(243, 236, 236, 0.541);
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 0 7px 2px rgba(46, 46, 46, 0.2);
    padding: 1.5rem 0;
}

/*Design du bouton du formulaire*/
.divButtonForm {
    padding: 1.5rem 0;
}

/*Design du texte require du formulaire*/
.require {
    padding: 0 0 0.5rem 0.8rem;
    font-size: 12px;
    text-align: left;
}

/*Design du label champ nom*/
.divChampNameL {
    width: 50%;
    float: left;
    margin: 1rem 0;
}

/*Design du label champ prenom*/
.divChampNameR {
    width: 50%;
    float: right;
    margin: 1rem 0;
}

/*Design des inputs pour le nom et le prenom*/
input,
textarea {
    width: 65%;
    height: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    margin-bottom: 1rem;
}

/*----------------------------------------------Mise en forme de l'article----------------------------------------------*/

/*Design du bloc pour le titre de l'article*/
.bloc-titre-article {
    padding: 3.5rem 0;
    background-color: #006fde;
    color: #fff;
}

/* Design du titre de l'article */
.titre-article {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 40px;
}

/* Design du sous titre de l'article */
.sous-titre-article {
    text-align: center;
    padding: 1.5rem 0;
    font-weight: lighter;
    font-size: 24px;
}

/* Design du titre de chaque partie de l'article */
.titre-partie-article {
    text-align: center;
    padding-bottom: 2.5rem;
}

/* Design des parties de l'article */
.description {
    text-align: center;
    padding: 3rem 0;
}

/* Design spécial pour la partie mission */
.description-mission {
    background-color: #006fde;
    color: #fff;
    padding: 3rem 0;
    border-radius: 100px;
    box-shadow: 0 5px 7px 2px rgb(46 46 46 / 20%);
    text-align: center;
}

/* Design texte partie article */
.texte-article {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/* Design du texte pour la légende de l'image de l'article */
.image-article-legende {
    font-size: 12px;
}
